            /* police utilisé */
@font-face {
    font-family:"raleway";
    src: url(font/Raleway-Regular.ttf);
    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"bold";
    src: url(font/Raleway-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
body
{
    font-family: "raleway", Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin: 0px;
}
            /* header */
header
{
    max-width: 1440px;
    margin: auto;
}
header > h1
{
    font-size: x-large;
    font-family: "bold";
}
#tete-page
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
#logo
{
    display: flex;
    height: 60px;
}
nav
{
    display: flex;
}
nav > a
{
    text-decoration: none;
    border-top: 4px solid white;
    padding: 30px;
}
nav > a:hover
{
    border-top: 4px solid #0065FC;
    padding: 30px;
}
#recherche
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
}
.maps
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 12px 0px 0px 12px;
    padding: 13px;
    background-color: #F2F2F2;
}
.barre-search
{
    border-color: #ffffff;
    border: 2px solid #f2f2f2;
    width: 200px;
    padding-left: 20px;
    font-family:"bold";
}
.search
{
    border-radius: 0px 12px 12px 0px;
    background-color: #0065FC;
    color: white;  
    height: 100%;  
    width: 130px;
    border: none;
    font-size: 17px;
    font-style: bold;
}
.search:hover
{
    cursor: pointer;
}
#loupe
{
    display: none;
}
#filtre
{
    display: flex;
    align-items: center;
    margin-top: 1%;
}
#filtre > h2
{
    font-size: large;
    font-family:"bold";
}
.filtres
{
    display: flex;
    border: 3px solid #F2F2F2;
    align-items: center;
    border-radius: 22px;
    height: 40px;
    width: 16%;
    margin: 1%;
}
.bouton-filtre
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}
.icone
{
    display: flex;
    border: 2px solid #F2F2F2;
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-left-width: 0px;
    color: #0065FC;
    border: none;
}
.blue
{
    color: #0065FC;
}
.gray
{
    color: rgb(217, 217, 217);
}
.select-filtre
{
    text-align: center;
    margin: auto;
    font-family:"bold";
    font-size: large;
}
.filtres:hover
{
    background-color: #DEEBFF;
}
#info
{
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}
.info
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 15px;
    color: #0065FC;
}

            /* centre page */
#middle
{
    display: flex;
    max-width: 1440px;
    margin: auto;
}
#hebergement
{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 22px;
}
#hebergement > h2
{
    margin-left: 40px;
    margin-top: 35px;
    margin-bottom: 0px;
    font-family:"bold";
}
#hebergement > h3
{
    margin-left: 40px;
    margin-bottom: 35px;
    margin-top: 0px;
    font-family:"bold";
}
#boxcentre
{
    display: flex;
    width: 96%;
    margin: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxcentrale
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    height: 220px;
    width: 29%;
    margin-bottom: 30px;
}
.boxcentrale:hover
{
    box-shadow: 1px 1px 1px gray;
}
.boxcentrale > a
{
    text-decoration: none;
    color: black;
}
.boxcentrale > a > img
{
    height: 130px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.boxcentrale > a > p
{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 12px;
}
.boxcentrale > a > h3
{
    margin-bottom: 10px;
    margin-left: 12px;
    margin-top: 0px;
    font-family:"bold";
}


#populaire
{
    display: flex;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 22px;
    margin-left: 33px;
    flex-direction: column;
}
.pop
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 35px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-top: 35px;
}
.pop > h2
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:"bold";
}
#boxdroite
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.boxleft
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex-direction: row;
    margin: 21px;
    height: 154px;
    margin-bottom: 13px;
}
.boxleft:hover
{
    box-shadow: 1px 1px 1px gray;
}
.boxtext
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 80%;
    margin-left: 6%;
}
.boxleft > a > img
{
    width: 140px;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
}
.boxtext > p
{
    margin-top: 10px;
}
.boxtext > h3
{
    margin-bottom: 0px;
    font-family:"bold";
}
.boxleft > a 
{
    display: flex;
    text-decoration: none;
}
        /* section du bas */
#activites
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    max-width: 1440px;
    margin: auto;
    margin-top: 30px;
}
#activites > h2
{
    font-family:"bold";
}
#boxdown
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family:"bold";
}
.img1 > img
{
    height: 420px;
    width: 100%;
    border-radius: 22px 22px 0px 0px;
}
.img1
{
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    background-color: white;
    height: 480px;
    width: 310px;
    box-shadow: 1px 1px 1px #DEEBFF;
}
.img1 > h3
{
    margin-left: 15px;
}
.img2 > img
{
    height: 80%;
    width: 100%;
    border-radius: 22px 22px 0px 0px;
}
.img2
{
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    background-color: white;
    height: 250px;
    margin-bottom: 10%;
    width: 310px;
    box-shadow: 1px 1px 1px #DEEBFF;
}
.img2 > h3
{
    margin-left: 15px;
}
.img3 > img
{
    height: 140px;
    width: 100%;
    border-radius: 22px 22px 0px 0px;
}
.img3
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 22px;
    height: 199px;
    width: 310px;
    box-shadow: 1px 1px 1px #DEEBFF;
}
.img3 > h3
{
    margin-left: 15px;
}
.img4 > img
{
    height: 420px;
    width: 100%;
    border-radius: 22px 22px 0px 0px;
}
.img4
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 22px;
    height: 480px;
    width: 310px;
    box-shadow: 1px 1px 1px #DEEBFF;
}
.img4 > h3
{
    margin-left: 15px;
}
.img5 > img
{
    height: 75%;
    width: 100%;
    border-radius: 22px 22px 0px 0px;
}
.img5
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 22px;
    height: 224px;
    margin-bottom: 10%;
    width: 310px;
    box-shadow: 1px 1px 1px #DEEBFF;
}
.img5 > h3
{
    margin-left: 15px;
}
.img6 > img
{
    height: 75%;
    width: 100%;
    border-radius: 22px 22px 0px 0px;
}
.img6
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 22px;
    height: 225px;
    width: 310px;
    box-shadow: 1px 1px 1px #DEEBFF;
}
.img6 > h3
{
    margin-left: 15px;
}
            /* footer */
#footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
}
.foot
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 15%;
    margin-left: 2%;
}
.foot > h3
{
    font-family:"bold";
}
.foot > p
{
    margin-top: 0px;
    margin-bottom: 6%;
}